

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.readOutContainer{
    display: flex;
    background-color: #feb47b;
    border: 2px solid;
    border-radius: 5px;
    height: 75px;
    font-size: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}
.result{
    padding: 20px;
}
.readOut{
    padding: 20px;
}

.container{
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 345px;
    
}
.ac{
    width: 156px;
}

.buttonContainer{
    padding: 3px;
    padding-top: 5px;
    display: flex;
    margin-top: 10px;
    border: 2px solid;
    border-radius: 5px;
    flex-wrap: wrap;
    height: 340px;
    justify-content: space-evenly;
    
    
}
button{
    height: 75px;
    width: 75px;
    margin: 2px;
    border: 2px solid black;
    background-color: #feb47b;
}
button:hover{
    background-color: #ff7e5f;
}